@font-face {
  font-family: yofont;
  src: url("/yiLiao/src/fonts/iconfont/iconfont.woff") format("woff"), url("/yiLiao/src/fonts/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/yiLiao/src/fonts/iconfont/iconfont-menu.woff") format("woff"), url("/yiLiao/src/fonts/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/yiLiao/src/fonts/iconfont/iconfont-back.woff") format("woff"), url("/yiLiao/src/fonts/iconfont/iconfont-back.ttf") format("truetype");
}
